<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <img src="" alt="logo" id="navbarLogo" class="img-responsive">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'routine_management:show_routine' user.id %}">Class Routine</a></li>
                <li><a href="#">Booked appointment time</a></li>
                <li><a href="{% url 'personal_info:student_feedbacks' user.varsity_id %}">Feedbacks</a></li>
                <li><a href="{% url 'personal_info:student_profile' user.id %}">Profile</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Assigned teacher<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if teachers %}
                            {% for teacher in teachers %}
                                <li><a href="{% url 'personal_info:show_teacher_info_to_student' teacher %}">{{ teacher }}</a></li>
                            {% endfor %}
                        {% else %}
                            <h5 class="text-center">No teacher has assigned yet</h5>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" name="searchStudent" class="form-control" placeholder="Enter Teacher ID">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'mail_sending:mails' user.id %}"><span class="glyphicon glyphicon-envelope"></span> Mail</a></li>
                <li><a href="{% url 'user_registration:user_logout' %}"> Logout</a></li>
            </ul>
        </div>
    </nav>

{% block body %} {% endblock %}
</div>
</body>
</html>